{% extends "base.html" %}
{% block pageContent %}
  <body>
    <div class="container-fluid">
      <div class="col-sm-10 pt-2">
        <h2>How to play</h2><br>
        <h4>Pre-Game</h4>
        <p>
          One player acts as dealer. The dealer is represented by the player with the dealer button, and moves clockwise each round. 
          The game starts with two forced bets by the two players to the dealers left. These are called the small blind (SB) and the big blind (BB). 
          The SB is equal to the minimum bet. The BB is twice that of the small blind. After the blinds, play moves into the betting phase.
        </p>
        <br>

        <h4>Play</h4>
        <p>
          Following the blinds, each player receives two cards face down. These are your ‘hole’ cards. The play continues clockwise, where each player following the blinds can either:
        </p>
        <p>
          •	Call – Calling matches the highest bet, in this cast the BB. If the highest current bet is 0 and the players calls, it is called a ‘check’.
        </p>
        <p>
          •	Raise – A player can raise the bet up to the amount they have left on the table.
        </p>
        <p>
          •	Fold – By folding, a player is choosing not to continue betting and withdraws from the round.
        </p>
        <p> 
          The betting round continues until every player has put an equal amount of money in the pot or there is only one player left in the round. If a player calls or raises up to all of their money, they are said to have gone ‘all-in’, and a side-pot is created, which contains the pot which equates to the amount of chips the player has put in. 
          This means that the other players may continue to bet between themselves with the all-in player only eligible to win chips up to the amount he has put in.
          Once the betting round has completed, three community cards are shown, known as ‘the flop’. Community cards can be used by any player to make the best 5 card hand possible. 
          Another betting round then commences where the players have an option to call (or ‘check’ if no bet has been made), raise (or bet if a bet has been made) or fold. When the second betting round is finished, a fourth card is shown, known as ‘the turn’. 
          Another betting round takes place, after which the final card is shown, known as ‘the river’ and after the final betting round if there are still two or more players left, the game goes to a showdown.
        </p>
        <br>

        <h4>Showdown</h4>
        <p>
          If a player bets and all other players fold, the player is awarded the pot and is not required to show his cards. However, if there are still two or more players left after the final round of betting, a ‘showdown’ occurs, where the last player to bet is the first to show his hand, unless everyone checks in which case the player to the left of the dealer button is the first to show. 
          After the first player has shown his cards, the players must show their cards in a clockwise rotation if they can beat the best players hand to show. Otherwise they can choose not to show, and ‘muck’ their losing hand without showing them. 
          If two players have the same hand strength, ‘kickers’ can be used to break ties. These are extra cards that do not add to the rank of the hand. 
          For example K-K-10-3-2 would beat K-K-9-8-7 even though they are both pairs of kings, as the 10 would beat the 9. If the best hand is shared by two or more players, the pot is shared between them. If the pot cannot be equally distributed among all the players in the split pot, the odd chips are given precedence to the winners that are first to play.
        </p>
      </div>
    </div>
  </body>
{% endblock %}

